extends base.pug

block content
  h3 Welcome to COFAT!
  
  p Hello #{firstName},
  
  p Your email has been verified successfully. Welcome to the COFAT Digital Recruitment Platform!
  
  p You can now complete your profile and start your journey with us.
  
  if ctaUrl
    .cta-button
      a(href=ctaUrl) Complete Your Profile
  
  p We're excited to have you on board!
  
  p Best regards,
  br
  | The COFAT Team
